{%extends 'web_MA_DB/blank.html'%}
{%  block content%}
        <form id="search_form" method="POST" enctype="multipart/form-data"  >

           {% csrf_token %}
           {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <table align = 'center'>
      
            {% for field in form.visible_fields %}
                
                <tr>
                    <td height = "40">{{ field.label}} &nbsp;&nbsp;<td/>
                    <td height = "40">{{ field }}</td>
                    <br/>
                </tr>
            {% endfor %}

            </table>
            <br/>
            <div class = 'row' align='center'>

                 <input  type="submit" name="submit" value = "Import"/>
            </div>
            <br/>

           
        </form>

        <br/>
        <br/>
        <br/>
{% endblock%}