{%extends 'web_MA_DB/blank.html'%}
{%  block content%}
    <br/>
    <br/>
    {% if new_fields %}
    <table class="table table-default">
        <caption style="font-size:20px;" class="text-left">UserDefined_2 List</caption>
        <thead>
        <tr>
            <td>Defined Abbr.</td>
            <td>Defined Name</td>
        </tr>
        </thead>
        <tbody>
            {% for f in new_fields%}
        <tr>
            <td>{{f.field_id}}</td>
            <td>{{f.field_name}}</td>
        </tr>
            {% endfor%}
        </tbody>
    </table>
    <div class = "row" align = "right">
    <a href = "/web_MA_DB/update_field/"><h4>Return</h4></a>
    </div>

   
    {%else%} 
    <br/>
    <br/> 
    <div class = 'row' align="center">
        {% csrf_token %}
        <form id="custom_form" method="POST" action = "/web_MA_DB/update_field/" >
            {% csrf_token %}
         
           {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <table >
            {% for field in form.visible_fields %}
                {{ field.errors }}
                <tr>
                    <td height='50'>{{ field.label}}&nbsp;</td>
                    <td height = "50">{{ field }}&nbsp;</td>
                </tr>
    
            {% endfor %}
            </table>
            <tr>
                &nbsp;<td><input type="submit" name="submit" value = "Update"/></td></tr>
        </form>
    </div>
    <br/>
    {%endif%}
{% endblock%}